<a href="https://colab.research.google.com/github/briggs123/PYTHON-/blob/main/KOUSHIK_VU21CSEN0101199.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## avg of 3 numbers

In [ ]:
a=10
b=20
c=30
d=a+b+c
avg=d/3
print("the average ofthe numbers")
print(d,avg)
print(type(avg))

the average ofthe numbers
70 23.333333333333332
<class 'float'>

In [ ]:
a=10;b=30;c=40
d=a+b+c
avg=d/3
print("the average of the numbers")
print(avg)
print(type(avg))

the average of the numbers
26.666666666666668
<class 'float'>

In [ ]:
a=10;b=30;c=40
d=a+b+c
avg=d/3
print("the average  of two numbers =",avg)
print(type(avg))

## multiplication of two numbers

In [ ]:
a=20;b=30
c=a*b
print("the multiplication of two numbers=",c)
print(type(c))

the multiplication of two numbers= 600
<class 'int'>

## dynamic addition of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter the second number"))
c=a+b
print("the addition of numbers=",c)

enter a number5
enter the second number3
the addition of numbers= 8

In [ ]:
a=int(input("enter a number"));b=int(input("enter the second number"))
c=a+b
print("the addition of numbers=",c)

enter a number5
enter the second number4
the addition of numbers= 9

## ADDITION OF STRINGS

In [ ]:
a="kou";b="shik"
c=a+b
print(c)
print(type(c))

koushik
<class 'str'>

In [ ]:
a="123"
b="456"
c=a+b
print(c,type(c))

123456 <class 'str'>

## CONVERSION OF DATA TYPES

## COVERT INT TO FLOAT

In [ ]:
a=10
b=float(a)
print(b,type(b))

10.0 <class 'float'>

## convert int to float (viceversa)

In [ ]:
a=10;b=float(a)
print(b,type(b))
c=int(b)
print(c,type(c))

10.0 <class 'float'>
10 <class 'int'>

## int to string

In [ ]:
a=64
b=str(64)
print(b,type(b))
c=int(b)
print(c,type(c))
##string to int is not posssible only if they are alphabets

64 <class 'str'>
64 <class 'int'>

## boolean function

In [ ]:
a=10
b=float(a)
print(bool(a),type(a))
print(bool(b),type(b))

True <class 'int'>
True <class 'float'>

In [ ]:
print("enter the numbers to check boolean ");a=int(input("enter the numbers"));b=float(input("enter the second number"))
print("check boolean",bool(a),bool(b),type(a),type(b))

enter the numbers to check boolean
enter the numbers5
enter the second number10.4
check boolean True True <class 'int'> <class 'float'>

In [ ]:
print("enter the numbers to check boolean ");a=int(input("enter the numbers  "));b=float(input("enter the second number   "))
print("check boolean")
print(bool(a),bool(b),type(a),type(b))

enter the numbers to check boolean
enter the numbers  5
enter the second number   4
check boolean
True True <class 'int'> <class 'float'>

In [ ]:
a=10;b=15;c=a>b
print(bool(c),type(c))

False <class 'bool'>

In [ ]:
a=10;b=15;c=a>b;e=a<b
print(bool(c),type(c))
d=int(c)
print(bool(f))
f=int(e)
print(d,f)

False <class 'bool'>
True
0 1

In [ ]:
a=10;b=15;c=a>b;e=a<b
print(bool(c))
print(int(c),bool(e),float(e))

False
0 True 1.0

In [ ]:
a=10;b=2
c=b>a
print(c,type(c))

False <class 'bool'>

In [ ]:
a=bool(12)
print(a,type(a))
b=int(a)
print(b,type(a))

True <class 'bool'>
1 <class 'bool'>

## complex

In [ ]:
a=12
b=complex(a)
print(b)

(12+0j)

In [ ]:
a=35
print(bool(35),complex(35),float(35))

True (35+0j) 35.0

In [ ]:
a=5+2j
print(type(a),a)
print

<class 'complex'> (5+2j)

## CONTROL STATEMENTS

## if else

In [ ]:
a=20
if a>18: ### indentation is necessary 
    print("eligible for voting") ### the code should be started below the idenenation

eligible for voting

In [ ]:
a=int(input("enter your age"))
if a>18:
    print("eligible for voting")
else:
        print("not eligible")

enter your age21
eligible for voting

In [ ]:
a=int(input("enter your age"))
if a>18:
    print("eligible")
elif a==18:
    print("just eligible")
else:
    print("not eligible")

enter your age18
just eligible

In [ ]:
a=int(input("enter the numbers"));b=int(input("enter the second number"));c=int(input("enter the third number"))
if a>b and a>c:
    print("a is max")
elif b>a and b>c:
    print("b is max")
else:
    print("c is max")

enter the numbers7
enter the second number8
enter the third number5
b is max

In [ ]:
a=int(input("enter the numbers"));b=int(input("enter the second number"));c=int(input("enter the third number"))
d=int(input("enter fourth number"));e=int(input("enter the fifith numer"))
if a>b and a>c and a>d and a>e:
      print("a is max")
elif b>a and b>c and b>d and b>e:
            print("b is max")
elif c>a and c>b and c>d and c>e:
    print("c is max")
elif d>a and d>b and d>c and d>e:
    print("d is max")
else:
    print("e is max")

enter the numbers5
enter the second number3
enter the third number2
enter fourth number8
enter the fifith numer9
e is max

In [ ]:
print("enter the subject marks of the students")
s1=int(input("enter the marks of subjects "));s2=int(input("enter the marks of  2 subject  "));s3=int(input("enter 3 sub marks"))
s4=int(input("enter the marks of 4 sub"));s5=int(input("enter the marks of 5 subject"))
if s1>s2 and s1>s3 and s1>s4 and s1>s5:
      print("a is max")
elif s2>s1 and s2>s3 and s2>s4 and s2>s5:
            print("b is max")
elif s3>s1 and s3>s2 and s3>s4 and s3>s5:
    print("c is max")
elif s4>s1 and s4>s2 and s4>s3 and s4>s5:
    print("d is max")
else:
    print("e is max")

enter the subject marks of the students
enter the marks of subjects 45
enter the marks of  2 subject  43
enter 3 sub marks23
enter the marks of 4 sub76
enter the marks of 5 subject45
d is max

## for loop

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range(a,b):
    if i%2==0:
        print("even number",i)
    else:
        print("odd numbers",i)

enter the number0
enter the max number100
even number 0
even number 2
even number 4
even number 6
even number 8
even number 10
even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50
even number 52
even number 54
even number 56
even number 58
even number 60
even number 62
even number 64
even number 66
even number 68
even number 70
even number 72
even number 74
even number 76
even number 78
even number 80
even number 82
even number 84
even number 86
even number 88
even number 90
even number 92
even number 94
even number 96
even number 98

## multiplication table

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range(a,b,2):
        print("even number",i)
for j in range(a,b,3):
    print("odd numbers",j)

SyntaxError: invalid syntax (Temp/ipykernel_8176/3622758617.py, line 2)

In [ ]:
a=int(input("enter the number to begin with   "));b=int(input("enter the max number   "))
for i in range(a,b):
    print(i)

enter the number to begin with   1
enter the max number5
1
2
3
4

In [ ]:
a=int(input("enter the max number you want to add "));b=int(input("enter the first number"))
sum=0
while b<=a:
    sum=sum+b
    b=b+1
print(sum)

enter the max number you want to add 10
enter the first number4
49

## module

In [ ]:
a=int(input("enter the first side"));b=int(input("enter the second side"));c=int(input("enter the third side"))
if a==b and b==c and a==c:
    print("equilateral triangle")
elif a==b or b==c or c==a:
    print("isoscles triangle")
else:
    print("scalen triangle")

enter the first side2
enter the second side2
enter the third side2
quilateral triangle

In [ ]:
a=int(input("enter the year"))
if a%400==0:
    print("it is a leap year")
elif a%100==0:
    print("it is not a leap year")
elif a%4==0:
    print("it is a leap year")
else:
    print("not a leap year")

enter the year2020
it is a leap year

In [ ]:
a=int(input("enter the first number"));b=int(input("enter the second number"));c=int(input("enter the third number"))
if a>b and a>c:
    print("a is max")
elif b>a and b>c:
    print("b is max")
else:
    print("c is max")

enter the first number2
enter the second number3
enter the third number5
c is max

In [ ]:
a=int(input("enter the first number"));b=int(input("enter the second number"));c=int(input("enter the third number"))
if a<b and a<c:
    print("a is max")
elif b<a and b<c:
    print("b is max")
else:
    print("c is max")

enter the first number4
enter the second number5
enter the third number6
a is max

In [ ]:
a=int(input("enter the numer"))
if a%5==0:
    print("it is divisible by 5")
elif a%11==0:
    print("it is divisible by 11")
elif a%5==0 and a%11==0:
    print("it is div by 5 and 11")
else:
    print("not divisible by both")

enter the numer22
it is divisible by 11

In [ ]:
a=int(input("enter the number to find factorial for  "))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

enter the number to find factorial for  5
120

In [ ]:
original=int(input("enter the number you want"))
reverse=0
temp=original
while temp>0:
    remainder=temp%10
    reverse=(reverse*10)+remainder
    temp=temp/10
if reverse==original:
    print("palindrome")
else:
    print("not a palindrome")

enter the number you want121
not a palindrome

In [ ]:
t=int(input("enter the numer of terms"));a=0;b=1
print(a,b)
for i in range(1,t):
    nextnum=a+b
    print(nextnum)
    a=b
    b=nextnum
print("completion of fibnoccii")

enter the numer of terms10
0 1
1
2
3
5
8
13
21
34
55
completion of fibnoccii

## LIST

In [ ]:
fruits=["apple","peach","melon","orange","banana"]
print(fruits)
print(fruits[0])#it is used for printing index
print(fruits[0:3])# intial index and range is a given number
print(fruits[:2])
print(fruits[1:3])#if the inex is not given it acts as zero
print(fruits[1:])

['apple', 'peach', 'melon', 'orange', 'banana']
apple
['apple', 'peach', 'melon']
['apple', 'peach']
['peach', 'melon']
['peach', 'melon', 'orange', 'banana']

In [ ]:
fruits=["apple","peach","melon","orange","banana"]
print(fruits)
print(len(fruits))
fruits.append("grapes")# to add elemts into list
print(fruits)
fruits.insert(1,"fruits")# to add elements with respective to index
print(fruits)

['apple', 'peach', 'melon', 'orange', 'banana']
5
['apple', 'peach', 'melon', 'orange', 'banana', 'grapes']
['apple', 'fruits', 'peach', 'melon', 'orange', 'banana', 'grapes']

In [ ]:
fruits=["apple","peach","melon","orange","banana"]
vegetables=["brinjal","potato","onion"]
fruits.extend(vegetables)# to add elements of another list
print(fruits)
print(fruits[7])
fruits.remove("orange")# to remove elements from the list
print(fruits)

['apple', 'peach', 'melon', 'orange', 'banana', 'brinjal', 'potato', 'onion']
onion
['apple', 'peach', 'melon', 'banana', 'brinjal', 'potato', 'onion']

In [ ]:
fruits=["ac","tv","w machine","heater"]
print(fruits)
a=input("enter the fruit name")
b=input("enter the fruit name")
fruits.insert(1,a)
print(fruits)
fruits.append(a)
print(fruits)

['ac', 'tv', 'w machine', 'heater']
enter the fruit nametest
enter the fruit namecase
['ac', 'test', 'tv', 'w machine', 'heater']
['ac', 'test', 'tv', 'w machine', 'heater', 'test']

In [ ]:
mix=[1,"koushik",bool(1),0+5j]
g=[2,3,4,5,6]
print(g)
print(mix)
mix.pop(0)# pop is used to remove the elements by the list 
mix.remove(5j)
print(mix)
del g[0] #del is used to delete elements if the index is mentioned it deltes the index value in list
del g #del is used here without index to delete whole list
print(mix)
mix.clear()# to clear the list
print(mix)

[2, 3, 4, 5, 6]
[1, 'koushik', True, 5j]
['koushik', True]
['koushik', True]
[]

In [ ]:
num=[1,5,3,6,2,4]
num.sort()#sort is used to sort out the list in our wish
print(num)
num.sort(reverse=True)#reverse=true statement used to reverse the list ie: descending order
print(num)
alph=["A","b","c","d"]
print(alph)
alph.sort(reverse=True)# it also sorts the alphabets in dictionary wise
print(alph)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
['A', 'b', 'c', 'd']
['d', 'c', 'b', 'A']

In [ ]:
t=("a","c","d")#TUPLE DOES NOT ALLOW ADDITION OF ELEMENTS
print(t)

('a', 'c', 'd')

In [ ]:
a=[1,2,3,6,5,7]
for i in range(len(a)):
    if a[i]%2==0:
        print(a[i])

2
6

In [ ]:
a=[]
for i in range(1,10):
    a[i]=int(input("enter the numbers"))
while len(a)<11:
    print(a[i])

enter the numbers5

IndexError: list assignment index out of range

In [ ]:
import math
a=int(input("enter the number"))
b=math.sqrt(a)
print(b)

enter the number4
2.0

enter the number3

AttributeError: module 'math' has no attribute 'cbrt'

In [ ]:
a=["125632,30236,64573,8075327,41234"]
new=[]
for x in a:
    if "1" in x:
        new.append(x)
print(new)

['125632,30236,64573,8075327,41234']

In [ ]:
tnum=[]
tnum=int(input())
for i in range(tnum):
    tnum.insert(input())
print(tnum)

5

AttributeError: 'int' object has no attribute 'insert'

# STRING

In [ ]:
a="koushik"
print(a)
print(a[1])
b="hello string"
print(b[7])
print(len(b))

koushik
o
t
12

In [ ]:
a="string cannot be found when it is not present"
print("string" in a)

True

In [ ]:
a="string cannot be found when it is not present"
print("koushik" not in a)###

True

In [ ]:
a="string cannot be found when it is not present"
print(a[0:5])

strin

In [ ]:
a="koushik"
print(a.upper())
b="HELLO"
print(a.lower())

KOUSHIK
koushik

In [ ]:
a=" koushik, hello"
print(a.strip())## removes the spaces at starting

koushik, hello

In [ ]:
a=" koushik, hello"
print(a.replace("koushik","kiran"))### replaces the variable strings

 kiran, hello

In [ ]:
a=" koushik hello kiran"
print(a.split())## splits the components
print(a.split(","))

['koushik', 'hello', 'kiran']
[' koushik hello kiran']

In [ ]:
a="koushik"
b="hello"
c=a+b
d=a+" "+b
e="{} {}"
print(e.format(a,b))
print(c)
print(d)

koushik hello
koushikhello
koushik hello

In [ ]:
age=18
txt="my name is koushik and my age is {}"
print(txt.format(age))## the format is used to covert integers

my name is koushik and my age is 18

In [ ]:
s1=50
s2=45
s3=29
a="marks of student in suject1 {} subject2 {} subject3 {}"
print(a.format(s1,s2,s3))
b="marks of student in suject 1{2} subject2 {1} subject3 {0}"
print(b.format(s1,s2,s3))

marks of student in suject1 50 subject2 45 subject3 29
marks of student in suject 129 subject2 45 subject3 50

In [ ]:
a="koushik hello \"hi\"" ### \txt\ is used to seperate the  
print(a)
b="koushik hello 'hi'"
print(b)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_5744/956250208.py, line 3)

In [ ]:
a="hi \beveryone"
b="hi\teveryone"
c="hi\neveryone"
print(a,b,c)

hi everyone hi	everyone hi
everyone

In [ ]:
a="koushik"
b="Kiran"
print(a.capitalize())# first letter to upper case
print(a.casefold())# first letter to lower case
print(a.center(100))# to intsal

Koushik
koushik
                                              koushik