<a href="https://colab.research.google.com/github/briggs123/PYTHON-/blob/main/KOUSHIK_VU21CSEN0101199.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## avg of 3 numbers

In [ ]:
a=10
b=20
c=30
d=a+b+c
avg=d/3
print("the average ofthe numbers")
print(d,avg)
print(type(avg))

the average ofthe numbers
70 23.333333333333332
<class 'float'>

In [ ]:
a=10;b=30;c=40
d=a+b+c
avg=d/3
print("the average of the numbers")
print(avg)
print(type(avg))

the average of the numbers
26.666666666666668
<class 'float'>

In [ ]:
a=10;b=30;c=40
d=a+b+c
avg=d/3
print("the average  of two numbers =",avg)
print(type(avg))

## multiplication of two numbers

In [ ]:
a=20;b=30
c=a*b
print("the multiplication of two numbers=",c)
print(type(c))

the multiplication of two numbers= 600
<class 'int'>

## dynamic addition of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter the second number"))
c=a+b
print("the addition of numbers=",c)

enter a number5
enter the second number3
the addition of numbers= 8

In [ ]:
a=int(input("enter a number"));b=int(input("enter the second number"))
c=a+b
print("the addition of numbers=",c)

enter a number5
enter the second number4
the addition of numbers= 9

## ADDITION OF STRINGS

In [ ]:
a="kou";b="shik"
c=a+b
print(c)
print(type(c))

koushik
<class 'str'>

In [ ]:
a="123"
b="456"
c=a+b
print(c,type(c))

123456 <class 'str'>

## CONVERSION OF DATA TYPES

## COVERT INT TO FLOAT

In [ ]:
a=10
b=float(a)
print(b,type(b))

10.0 <class 'float'>

## convert int to float (viceversa)

In [ ]:
a=10;b=float(a)
print(b,type(b))
c=int(b)
print(c,type(c))

10.0 <class 'float'>
10 <class 'int'>

## int to string

In [ ]:
a=64
b=str(64)
print(b,type(b))
c=int(b)
print(c,type(c))
##string to int is not posssible only if they are alphabets

64 <class 'str'>
64 <class 'int'>

## boolean function

In [ ]:
a=10
b=float(a)
print(bool(a),type(a))
print(bool(b),type(b))

True <class 'int'>
True <class 'float'>

In [ ]:
print("enter the numbers to check boolean ");a=int(input("enter the numbers"));b=float(input("enter the second number"))
print("check boolean",bool(a),bool(b),type(a),type(b))

enter the numbers to check boolean
enter the numbers5
enter the second number10.4
check boolean True True <class 'int'> <class 'float'>

In [ ]:
print("enter the numbers to check boolean ");a=int(input("enter the numbers  "));b=float(input("enter the second number   "))
print("check boolean")
print(bool(a),bool(b),type(a),type(b))

enter the numbers to check boolean
enter the numbers  5
enter the second number   4
check boolean
True True <class 'int'> <class 'float'>

In [ ]:
a=10;b=15;c=a>b
print(bool(c),type(c))

False <class 'bool'>

In [ ]:
a=10;b=15;c=a>b;e=a<b
print(bool(c),type(c))
d=int(c)
print(bool(f))
f=int(e)
print(d,f)

False <class 'bool'>
True
0 1

In [ ]:
a=10;b=15;c=a>b;e=a<b
print(bool(c))
print(int(c),bool(e),float(e))

False
0 True 1.0

In [ ]:
a=10;b=2
c=b>a
print(c,type(c))

False <class 'bool'>

In [ ]:
a=bool(12)
print(a,type(a))
b=int(a)
print(b,type(a))

True <class 'bool'>
1 <class 'bool'>

## complex

In [ ]:
a=12
b=complex(a)
print(b)

(12+0j)

In [ ]:
a=35
print(bool(35),complex(35),float(35))

True (35+0j) 35.0

In [ ]:
a=5+2j
print(type(a),a)
print

<class 'complex'> (5+2j)

## CONTROL STATEMENTS

## if else

In [ ]:
a=20
if a>18: ### indentation is necessary 
    print("eligible for voting") ### the code should be started below the idenenation

eligible for voting

In [ ]:
a=int(input("enter your age"))
if a>18:
    print("eligible for voting")
else:
        print("not eligible")

enter your age21
eligible for voting

In [ ]:
a=int(input("enter your age"))
if a>18:
    print("eligible")
elif a==18:
    print("just eligible")
else:
    print("not eligible")

enter your age18
just eligible

In [ ]:
a=int(input("enter the numbers"));b=int(input("enter the second number"));c=int(input("enter the third number"))
if a>b and a>c:
    print("a is max")
elif b>a and b>c:
    print("b is max")
else:
    print("c is max")

enter the numbers7
enter the second number8
enter the third number5
b is max

In [ ]:
a=int(input("enter the numbers"));b=int(input("enter the second number"));c=int(input("enter the third number"))
d=int(input("enter fourth number"));e=int(input("enter the fifith numer"))
if a>b and a>c and a>d and a>e:
      print("a is max")
elif b>a and b>c and b>d and b>e:
            print("b is max")
elif c>a and c>b and c>d and c>e:
    print("c is max")
elif d>a and d>b and d>c and d>e:
    print("d is max")
else:
    print("e is max")

enter the numbers5
enter the second number3
enter the third number2
enter fourth number8
enter the fifith numer9
e is max

In [ ]:
print("enter the subject marks of the students")
s1=int(input("enter the marks of subjects "));s2=int(input("enter the marks of  2 subject  "));s3=int(input("enter 3 sub marks"))
s4=int(input("enter the marks of 4 sub"));s5=int(input("enter the marks of 5 subject"))
if s1>s2 and s1>s3 and s1>s4 and s1>s5:
      print("a is max")
elif s2>s1 and s2>s3 and s2>s4 and s2>s5:
            print("b is max")
elif s3>s1 and s3>s2 and s3>s4 and s3>s5:
    print("c is max")
elif s4>s1 and s4>s2 and s4>s3 and s4>s5:
    print("d is max")
else:
    print("e is max")

enter the subject marks of the students
enter the marks of subjects 45
enter the marks of  2 subject  43
enter 3 sub marks23
enter the marks of 4 sub76
enter the marks of 5 subject45
d is max

## for loop

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range(a,b):
    if i%2==0:
        print("even number",i)
    else:
        print("odd numbers",i)

enter the number0
enter the max number100
even number 0
even number 2
even number 4
even number 6
even number 8
even number 10
even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50
even number 52
even number 54
even number 56
even number 58
even number 60
even number 62
even number 64
even number 66
even number 68
even number 70
even number 72
even number 74
even number 76
even number 78
even number 80
even number 82
even number 84
even number 86
even number 88
even number 90
even number 92
even number 94
even number 96
even number 98

## multiplication table

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range(a,b,2):
        print("even number",i)
for j in range(a,b,3):
    print("odd numbers",j)

enter the number0
enter the max number100
even number 0
even number 2
even number 4
even number 6
even number 8
even number 10
even number 12
even number 14
even number 16
even number 18
even number 20
even number 22
even number 24
even number 26
even number 28
even number 30
even number 32
even number 34
even number 36
even number 38
even number 40
even number 42
even number 44
even number 46
even number 48
even number 50
even number 52
even number 54
even number 56
even number 58
even number 60
even number 62
even number 64
even number 66
even number 68
even number 70
even number 72
even number 74
even number 76
even number 78
even number 80
even number 82
even number 84
even number 86
even number 88
even number 90
even number 92
even number 94
even number 96
even number 98
odd numbers 0
odd numbers 3
odd numbers 6
odd numbers 9
odd numbers 12
odd numbers 15
odd numbers 18
odd numbers 21
odd numbers 24
odd numbers 27
odd numbers 30
odd numbers 33
odd numbers 36
odd numbers 39
odd numbers 42
odd numbers 45
odd numbers 48
odd numbers 51
odd numbers 54
odd numbers 57
odd numbers 60
odd numbers 63
odd numbers 66
odd numbers 69
odd numbers 72
odd numbers 75
odd numbers 78
odd numbers 81
odd numbers 84
odd numbers 87
odd numbers 90
odd numbers 93
odd numbers 96
odd numbers 99