<a href="https://colab.research.google.com/github/briggs123/PYTHON-/blob/module-2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def ncr(n,r):
    return fact(n)/(fact(r)*fact(n-r))
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
a=int(input("enter the value of n "))
b=int(input("enter the value of r"))
print(ncr(a,b))

enter the value of n 5
enter the value of r2
10.0

In [22]:
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
a=int(input("enter the first number"))
b=int(input("enter the second number"))
GCD=gcd(a,b)
print("gcd of two numbers is ",GCD)

enter the first number5
enter the second number2
gcd of two numbers is  1

In [24]:

def pro(a,b):
    if a<b:
        return pro(b,a)
    elif b!=0:
        return (a+pro(a,b-1))
    else:
        return 0
a=int(input("enter the number"))
b=int(input("enter second number"))
print("product of two numbers",pro(a,b))

enter the number5
enter second number9
product of two numbers 45

In [25]:
def fibo(n):
    if n<=1:
        return n
    else:
        return (fibo(n-1)+fibo(n-2))
n=int(input("enter the number of terms"))
if n<=0:
    print("enter the number with min values")
else:
    for i in range(n+1):
        print(fibo(i))

enter the number of terms10
0
1
1
2
3
5
8
13
21
34
55

In [4]:
list=["red","green","white","black","pink","yellow"]
list.pop(0)
list.pop(3)
list.pop()
print(list)

['green', 'white', 'black']

In [5]:
a=[3,5,7,9]
b=[2,3,8,9]
c=[]
for x in a:
    if x not in b:
        c.append(x)
print(c)

[5, 7]

In [6]:
a=[1,2,3,4,5]
a.sort(reverse=True)
print(a[1],a[-2])

4 2

In [7]:
import math
a=[9,3,6]
b=[]
for x in a:
    b.append((x,math.pow(x,2)))
print(b)

[(9, 81.0), (3, 9.0), (6, 36.0)]

In [8]:
a= [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
b=[]
k=2
for x in a:
    if len(x)==k:
        a.remove(x)
print(a)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [10]:
a=dict()
b=int(input("enter the number"))
for x in range(1,b+1):
    a[x]=x*x
print(a)

enter the number5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
a={
    "car":"bmw",
    "model":18,
    "year":2021   
}
a.pop("year")
print(a)

{'car': 'bmw', 'model': 18}

In [14]:
a="koushik hello"
print(a[2:3])
print(a.split())

u
['koushik', 'hello']

In [16]:
a="I have to go to a doctor and get myself checked."
print(a.count("to"))

3

In [17]:
a="rabbit"
print(a.replace("b","c"))

raccit

In [19]:
import random
a=input("enter command")
if "shuffle"==a:
    for x in range (6):
        a=random.randint(1,6)
        print(a)

enter commandshuffle
2
5
1
1
1
2

In [20]:
def string(a):
    u=0;l=0
    for x in a :
        if x.isupper():
            u=u+1
        else:
            l=l+1
    print("the lower values",l)
    print("higher values",u)
string("KousHiK")

the lower values 4
higher values 3

In [21]:
a=["abc","xyz","aba","1221"]
b=0
for x in a:
  if len(x)>=2:
    if x[0]==x[-1]:
      b=b+1
print("number with same intial and final value",b)

number with same intial and final value 2