<a href="https://colab.research.google.com/github/briggs123/PYTHON-/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### MODULE-1

In [ ]:
a=int(input("enter the number"))
rev=0
temp=a
while temp>0:
  rem=temp%10
  rev=(rev*10)+rem
  temp=temp//10
if a==rev:
  print("it is a palindrome")
else:
  print("not a palindrome")

enter the number6
it is a palindrome

In [ ]:
a=int(input("enter the number"))
sum=0
for i in range(1,a):
  if a%i==0:
     sum=sum+i
if sum==a:
  print("perfect number")
else:
  print("not a perfect number")

enter the number6
perfect number

In [ ]:
import math
a=-4.56
print(math.floor(a))
print(math.ceil(a))
print(math.pow(4,2))
print(math.sqrt(9))
print(math.fmod(10,3))
print(math.fabs(-5.66))
print(math.trunc(a))

-5
-4
16.0
3.0
1.0
5.66
-4

In [ ]:
import math
p=int(input("enter principal amount"))
r=int(input("enter rate of intrest"))
t=int(input("amount of years"))
for i in range(1,t+1):
    si=(p*i*r)/100
    print(i,"year intrest si is",si)
    ci=p*(math.pow(1+r/100,i))
    print(i,"year intrest ci is",ci)

enter principal amount5000
enter rate of intrest18
amount of years5
1 year intrest si is 900.0
1 year intrest ci is 5900.0
2 year intrest si is 1800.0
2 year intrest ci is 6961.999999999999
3 year intrest si is 2700.0
3 year intrest ci is 8215.16
4 year intrest si is 3600.0
4 year intrest ci is 9693.888799999997
5 year intrest si is 4500.0
5 year intrest ci is 11438.788783999998

# TUPLE

In [ ]:
a=("koushik","hello","kiran")
b=list(a)
b.append("test")
b.insert(2,"code")
b.remove("koushik")
b.sort(reverse=True)
print(b)

['test', 'kiran', 'hello', 'code']

In [ ]:
a=("apple",)### , is used to create a single tuple
print(a)
b=("green",)
c=a+b
print(c)

('apple',)
('apple', 'green')

In [ ]:
a=("apple","mango","papaya")
(red,yellow,orange)=a
print(red,yellow,orange)

apple mango papaya

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
(red,*yellow,b)=a
print(red,yellow,b)

apple ['mango', 'papaya', 'hello', 'hi'] he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
for i in a:
    print(i)

apple
mango
papaya
hello
hi
he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
for x in range(len(a)):
    print(a[x])

apple
mango
papaya
hello
hi
he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
if "apple" in a:
    print("yes")

yes

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
b=("koushik","kiran")
print(a+b)
print(b*3)

('apple', 'mango', 'papaya', 'hello', 'hi', 'he', 'koushik', 'kiran')
('koushik', 'kiran', 'koushik', 'kiran', 'koushik', 'kiran')

In [ ]:
a=int(input("enter the number"))
sum=0
temp=a
while (temp>0):
    fact=1
    i=1
    rem=temp%10
    while i<=rem:
        fact=fact*i
        i=i+1
    sum=sum+fact
    temp=temp//10
print(sum)
if a==sum:
    print("yes it is strong number")
else:
    print("no")

enter the number145
145
yes it is strong number

In [ ]:
a=int(input("enter the number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

enter the number5
120

In [ ]:
Number = int(input(" Please Enter any Number: "))
Sum = 0
Temp = Number
Factorial = 1
i = 1
while(Temp > 0):
    Reminder = Temp % 10
    while(i <= Reminder):
        Factorial = Factorial * i
        i = i + 1

    print("\n Factorial of %d = %d" %(Reminder, Factorial))
    Sum = Sum + Factorial
    Temp = Temp // 10
if (Sum == Number):
    print(" %d is a Strong Number" %Number)
else:
    print(" %d is not" %Number)

 Please Enter any Number: 145

 Factorial of 5 = 120

 Factorial of 4 = 120

 Factorial of 1 = 120
 145 is not

# sets

In [ ]:
a={1,2,3,4,5,5,5,5,5}## duplicates are not allowed in sets
print(a)

{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
print(type(a),len(a))

<class 'set'> 5

In [ ]:
a={1,2,3,4,5,5,5,5,5}
for x in a:
    print(x)

1
2
3
4
5

In [ ]:
a={1,2,3,4,5,5,5,5,5}
a.add(99) ### used for addition of elements
print(a)

{1, 2, 3, 4, 5, 99}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={"a","b","c","d"}
c=["koushik"]
a.update(b)### update is used to join the lists
a.update(c)
print(a)

{1, 2, 3, 4, 5, 'c', 'b', 'a', 'd', 'koushik'}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
a.remove(5)### remove will raise error if its not present
a.discard(8)### discard will not raise a error if its not present
b=a.pop() ### this removes the element and that is stored in the b
print(b)
print(a)
a.clear()### this clears the set
print(a)
del a### this deleted the set

1
{2, 3, 4}
set()

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={"a","b","c","d",1}
a.union(b)### combines all the elements
print(a)
a.intersection(b) ### only shows the common element
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b=a.copy()### this copys the elments of the set
print(b)

{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={1,3,6,8}
print(a.isdisjoint(b))
print(b.issubset(a))
print(a.issuperset(b))

False
False
False

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={1,7,9,33}
print(a.symmetric_difference(b))

{33, 2, 3, 4, 5, 7, 9}

# DICTONARY

In [ ]:
a={
    "name":"koushik",  ### format for building the sets
    "age":18,
    "college":"gitam"
}
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam'}

In [ ]:
a={
    "name":"koushik",  ### format for building the dicitonary
    "age":18,
    "college":"gitam"
}
print(a["name"])
print(a["age"])
print(len(a))### shows the len of the dict
print(type(a))

koushik
18
3

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
b=a["name"]
c=a.get("age")
print(b,c)

koushik 18

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.keys())### this is the keys function used to displa all thge key words
a["friend"]=" sike kiran" ### this is a way of addition kes in dict
print(a.)

dict_keys(['name', 'age', 'college'])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.values())
a["place"]="vskp"
print(a.values(),a.keys())

dict_values(['koushik', 18, 'gitam'])
dict_values(['koushik', 18, 'gitam', 'vskp']) dict_keys(['name', 'age', 'college', 'place'])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.items())

dict_items([('name', 'koushik'), ('age', 18), ('college', 'gitam')])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
if "age" in a:
    print("yes")

yes

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.update({"place":"vskp"}) ### it is used to update the list
print(a)
a.update({"age":19}) ### it is also used to update the list
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam', 'place': 'vskp'}
{'name': 'koushik', 'age': 19, 'college': 'gitam', 'place': 'vskp'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.pop("age") ### this is used to remove the elements from the dict
print(a)

{'name': 'koushik', 'college': 'gitam'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x in a:
    print(x)

name
age
college

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.update({"marks":"100"})
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam', 'marks': '100'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.items())
for x in a.items():
    print(x)

dict_items([('name', 'koushik'), ('age', 18), ('college', 'gitam')])
('name', 'koushik')
('age', 18)
('college', 'gitam')

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x,y in a.items():
    print(x,y)

name koushik
age 18
college gitam

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x in a.keys():
    print(x)

name
age
college

In [ ]:
collge={
    "s1":{
        "name":"koushik",
        "age":"18",
        "collge":"gitam"
    },
    "s2":{
         "name":"ftghdgde",
        "age":"18",
        "collge":"gitam"
    },
    "s3":{
         "name":"dffffff",
        "age":"18",
        "collge":"gitam"
    },
    
}
print(collge)

{'s1': {'name': 'koushik', 'age': '18', 'collge': 'gitam'}, 's2': {'name': 'ftghdgde', 'age': '18', 'collge': 'gitam'}, 's3': {'name': 'dffffff', 'age': '18', 'collge': 'gitam'}}

In [ ]:
s1={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
},
s2={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
},
s3={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
}
college={
    "s1":s1,
    "s2":s2,
    "s3":s3
}
print(college)

{'s1': ({'name': 'koushik', 'age': '18', 'collge': 'gitam'},), 's2': ({'name': 'koushik', 'age': '18', 'collge': 'gitam'},), 's3': {'name': 'koushik', 'age': '18', 'collge': 'gitam'}}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
b=a.copy()
print(b)

{'name': 'koushik', 'age': 18, 'college': 'gitam'}

In [ ]:
college={
    "s1":{
        "name":"koushik",
        "age":"18",
"college":"gitam"    
    },
    "s2":{
        "name":"sgsdgsdfsf",
        "age":"17",
        "college":"afsfsf"
    }
}
print(college)

{'s1': {'name': 'koushik', 'age': '18', 'college': 'gitam'}, 's2': {'name': 'sgsdgsdfsf', 'age': '17', 'college': 'afsfsf'}}

# MODULE 2

In [ ]:
a=[1,2,3,4,5,6]

In [ ]:
import random
a=input("enter the command roll: ")
if "roll"==a:
    for x in range (6):
        a=random.randint(1,6)
        print(a)

enter the command roll: roll
4
4
6
2
6
6

# FUNCTIONS

In [ ]:
def koushik():
    print("koushik")
koushik()

koushik

In [ ]:
def name(name,age,roll):
    print(name,age,roll)
name("koushik",8,36)
name("kiran",19,31)

koushik 8 36
kiran 19 31

In [ ]:
def student(*info):
    print("info of the students",info[1])
student("koushik",19,4,2021) ### only strings are sccepted but not the strings

info of the students 19

In [ ]:
def student(name,age,year):
    print(year)
student(year=2021,name="koushik",age=18)

2021

In [ ]:
def student(**info):
    print("student",info["age"])
student(name="koushik",age=18,year=2021)

student 18

In [ ]:
def student(**info =="enter data"):
    print(info["name"],info["age"])
student(name="koushik",age=18)
student(name="kiran",age=19)

SyntaxError: invalid syntax (Temp/ipykernel_2328/965067153.py, line 1)

In [ ]:
def student(name="enter the name"):
      print(name)
student()
student("koushik")
student("kiran")

enter the name
koushik
kiran

In [ ]:
def students(name):
    for x in name:
        print(x)
names=["koushik","kiran"]
students(names)

koushik
kiran

In [ ]:
def sum(a,b):
   return a+b
print(sum(3,6))
print(sum(5,6))

9
11

In [ ]:
def number(n,r):
    while i<=r
        return (n-i*(n-(i+1))*(n-O())

# module 2

In [ ]:
a="string"
print(a.replace("r","t"))

stting

In [ ]:
a=[3,5,7,9]
b=[2,3,8,9]
c=[]
for x in a:
    if x not in b:
        c.append(x)
print(c)

[5, 7]

In [ ]:
a=dict()
b=int(input("enter the number"))
for x in range(b+1):
    a[x]=x*x
print(a)

enter the number6
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
a={
    "name":"koushik",
    "age":18,
    "year":2021   
}
a.pop("year")
print(a)

{'name': 'koushik', 'age': 18}

In [ ]:
a="I have to go to a doctor and get myself checked."
print(a.count("to"))

3

In [ ]:
a= [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
b=[]
k=2
for x in a:
    if len(x)==k:
        a.remove(x)
print(a)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
def string(a):
    u=0;l=0
    for x in a :
        if x.isupper():
            u=u+1
        else:
            l=l+1
    print("the lower values",l)
    print("higher values",u)
string("KiRan")

the lower values 3
higher values 2

In [ ]:
def ncr(n,r):
    return fact(n)/(fact(r)*fact(n-r))
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
a=int(input("enter the value of n "))
b=int(input("enter the value of r"))
print(ncr(a,b))

enter the value of 10
enter the value of r8
45.0

In [ ]:
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
a=int(input("enter the first number"))
b=int(input("enter the second number"))
GCD=gcd(a,b)
print("gcd of two numbers is ",GCD)

enter the first number5
enter the second number2
gcd of two numbers is  1

In [ ]:
def pro(a,b):
    if a<b:
        return pro(b,a)
    elif b!=0:
        return (a+pro(a,b-1))
    else:
        return 0
a=int(input("enter the number"))
b=int(input("enter second number"))
print("product of two numbers",pro(a,b))

enter the number5
enter second number2
product of two numbers 10

In [ ]:
def fibo(n):
    if n<=1:
        return n
    else:
        return (fibo(n-1)+fibo(n-2))
n=int(input("enter the number of terms"))
if n<=0:
    print("enter the number with min values")
else:
    for i in range(n+1):
        print(fibo(i))

enter the number of terms10
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
import math
a=[9,3,6]
b=[]
for x in a:
    b.append((x,math.pow(x,2)))
print(b)

[(9, 81.0), (3, 9.0), (6, 36.0)]

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the last number"))
if a<b:
    for x in range(a,b):
         print(x)

enter the number12
enter the last number15
12
13
14

In [ ]:
a=[121,123,145]
b=""
for x in a:
    b=b+str(x)
print(b) ### static method

121123145

# ASSIGNMENT

In [ ]:
import math
n=2;p=3
print(math.pow(2,3))

8.0

In [ ]:
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
d=[a,b,c]
k=d.copy()
d.sort()
e=d.copy()
if k==e:
    print("1")
else:
    print("0")

enter the number1
enter the number10
enter the number20
1

In [ ]:
a=int(input("enter the number"))
fact=1
while a>0:
    i=a%10
    fact=fact*i
    a=a//10
print(fact)

enter the number123
6

In [ ]:
s="abcdefcba"
n=len(s)
i=0
for x in range(len(s)):
    if s[x]==s[n-1]:
        print(s[x])
        i=i+1
    x=x+1
    n=n-1
print("number of digits which are in same sequence is:",i)

a
b
c
e
c
b
a
number of digits which are in same sequence is: 7

In [ ]:
a=int(input(""))
b=int(input(""))
gcd=1
i=1
while(i<=a and i<=b):
    if(a%i==0 and b%i==0):
        gcd=gcd+1
    i=i+1
print(gcd)

5
2
2

In [ ]:
a=input("")
b=input("")
c=input("")
d=input("")
e=input("")
total=a+b+c+d+e
avg=total//5
if avg>=90 and avg<=100:
    print("O")
elif avg>=80 and avg<=89:
    print("A+")
elif avg>=70 and avg<=79:
    print("A ")
elif avg>=60 and avg<=69:
    print("B+")
elif avg>=40 and avg<=59:
    print("C")
else:
    print("F")

50
45
21
78
65

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [ ]:
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=int(input(""))
e=int(input(""))
total=a+b+c+d+e
avg=total//5
if avg>=90 and avg<=100:
    print("O")
elif avg>=80 and avg<=89:
    print("A+")
elif avg>=70 and avg<=79:
    print("A ")
elif avg>=60 and avg<=69:
    print("B+")
elif avg>=40 and avg<=59:
    print("C")
else:
    print("F")

80
90
60
100
50
A

# FILES

In [ ]:
k=open("koushik","w")
k.write("kiran")
k.close()
k=open("koushik","r")
print(k.read())

kiran

In [ ]:
f=open("koushik.txt","w")
f.write("hi everyone this is koushik \n this is koushik")
f.close()
f=open("koushik.txt","r")
print(f.readline())
print(f.readline()) 
f.close()

hi everyone this is koushik

 this is koushik

In [ ]:
import os
if os.path.exists("koushik.txt"):
    os.remove("koushik.txt")
else:
    print("false")

true

In [ ]:
import os
os.rmdir("C:\\Users\CSE22004\Documents\Python Scripts")

In [ ]:
f=open("C:\\Users\CSE22004\Desktop\96\kiran")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\CSE22004\\Desktop\\96\\kiran'

In [ ]:
f=open("hello","w")
f.write("write hello")
f.close()
f=open("hello","r")
print(f.read())

write hello

In [ ]:
f=open("C:\\Users\CSE22004\Desktop\hello.txt","w")
f.write("it works")
f.close()

In [ ]:
import os
if os.path.exists("C:\\Users\CSE22004\Desktop\96\kiran.txt"):
    os.remove("C:\\Users\CSE22004\Desktop\96\kiran.txt")
else:
    print("nope")

nope

In [ ]:
import os
os.rmdir("C:\\Users\CSE22004\Desktop\kiransike")

In [ ]:
f=open("C:\\Users\CSE22004\Desktop\kiransike\hello.txt","r")
print(f.read())
f.close()

fiuaghdfukiashdiua

In [ ]:
import os
if os.path.exists("C:\\Users\CSE22004\Desktop\kiransike\hello.txt"):
    os.remove("C:\\Users\CSE22004\Desktop\kiransike\hello.txt")
else:
    print("nope")
os.rmdir("C:\\Users\CSE22004\Desktop\kiransike")

# MODULE 3

In [ ]:
#f=open("D:\\readfile.txt","r")
#print(f.read())
f=open("demo.txt","w")
f.write("this is koushik")
f.close()
f=open("demo.txt","r")
print(f.read())

this is koushik

In [ ]:
f=open("demo.txt","w")
f.write("this is koushik")
f.close()
f=open("demo.txt","r")
print(f.readline())

this is koushik

In [ ]:
f=open("demo.txt","w")
f.write("this is koushik")
f.close()
f=open("demo.txt","r")
print(f.readline())
f.close()
f=open("demo.txt","a") ###append 
f.write("this is kiran")
f.close()
f=open("demo.txt","r")
print(f.read())

this is koushik
this is koushikthis is kiran

In [ ]:
f=open("hey.txt","w")
f.write("f a f a f a f f a f d")
f.close()
f=open("hey.txt","r")
c=0
z=""
print(f.read().split())
""`""for x in f.read().split():
    z=z+x
    if "f"==x:
        c=c+1
print(z,c)

['f', 'a', 'f', 'a', 'f', 'a', 'f', 'f', 'a', 'f', 'd']
 0

In [ ]:
f=open("kou.txt","w")
f.write("koushik")
f.close()
g=open("kou.txt","r")
b=g.read()
g.close()
f=open("kiran.txt","w")
f.write(b)
f.close()
f=open("kiran.txt","r")
print(f.read())

koushik

In [ ]:
x=["a","b","c"]
b=""
for x in x:
     b=b+(x)
print(b)

abc

In [ ]:
s="acb cbd"
a=s.split().copy()
print(a)

['acb', 'cbd']