<a href="https://colab.research.google.com/github/briggs123/PYTHON-/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### MODULE-1

In [ ]:
a=int(input("enter the number"))
rev=0
temp=a
while temp>0:
  rem=temp%10
  rev=(rev*10)+rem
  temp=temp//10
if a==rev:
  print("it is a palindrome")
else:
  print("not a palindrome")

enter the number6
it is a palindrome

In [ ]:
a=int(input("enter the number"))
sum=0
for i in range(1,a):
  if a%i==0:
     sum=sum+i
if sum==a:
  print("perfect number")
else:
  print("not a perfect number")

enter the number6
perfect number

In [ ]:
import math
a=-4.56
print(math.floor(a))
print(math.ceil(a))
print(math.pow(4,2))
print(math.sqrt(9))
print(math.fmod(10,3))
print(math.fabs(-5.66))
print(math.trunc(a))

-5
-4
16.0
3.0
1.0
5.66
-4

In [ ]:
import math
p=int(input("enter principal amount"))
r=int(input("enter rate of intrest"))
t=int(input("amount of years"))
for i in range(1,t+1):
    si=(p*i*r)/100
    print(i,"year intrest si is",si)
    ci=p*(math.pow(1+r/100,i))
    print(i,"year intrest ci is",ci)

enter principal amount5000
enter rate of intrest18
amount of years5
1 year intrest si is 900.0
1 year intrest ci is 5900.0
2 year intrest si is 1800.0
2 year intrest ci is 6961.999999999999
3 year intrest si is 2700.0
3 year intrest ci is 8215.16
4 year intrest si is 3600.0
4 year intrest ci is 9693.888799999997
5 year intrest si is 4500.0
5 year intrest ci is 11438.788783999998

# TUPLE

In [ ]:
a=("koushik","hello","kiran")
b=list(a)
b.append("test")
b.insert(2,"code")
b.remove("koushik")
b.sort(reverse=True)
print(b)

['test', 'kiran', 'hello', 'code']

In [ ]:
a=("apple",)### , is used to create a single tuple
print(a)
b=("green",)
c=a+b
print(c)

('apple',)
('apple', 'green')

In [ ]:
a=("apple","mango","papaya")
(red,yellow,orange)=a
print(red,yellow,orange)

apple mango papaya

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
(red,*yellow,b)=a
print(red,yellow,b)

apple ['mango', 'papaya', 'hello', 'hi'] he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
for i in a:
    print(i)

apple
mango
papaya
hello
hi
he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
for x in range(len(a)):
    print(a[x])

apple
mango
papaya
hello
hi
he

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
if "apple" in a:
    print("yes")

yes

In [ ]:
a=("apple","mango","papaya","hello","hi","he")
b=("koushik","kiran")
print(a+b)
print(b*3)

('apple', 'mango', 'papaya', 'hello', 'hi', 'he', 'koushik', 'kiran')
('koushik', 'kiran', 'koushik', 'kiran', 'koushik', 'kiran')

In [ ]:
a=int(input("enter the number"))
sum=0
temp=a
while (temp>0):
    fact=1
    i=1
    rem=temp%10
    while i<=rem:
        fact=fact*i
        i=i+1
    sum=sum+fact
    temp=temp//10
print(sum)
if a==sum:
    print("yes it is strong number")
else:
    print("no")

enter the number145
145
yes it is strong number

In [ ]:
a=int(input("enter the number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

enter the number5
120

In [ ]:
Number = int(input(" Please Enter any Number: "))
Sum = 0
Temp = Number
Factorial = 1
i = 1
while(Temp > 0):
    Reminder = Temp % 10
    while(i <= Reminder):
        Factorial = Factorial * i
        i = i + 1

    print("\n Factorial of %d = %d" %(Reminder, Factorial))
    Sum = Sum + Factorial
    Temp = Temp // 10
if (Sum == Number):
    print(" %d is a Strong Number" %Number)
else:
    print(" %d is not" %Number)

 Please Enter any Number: 145

 Factorial of 5 = 120

 Factorial of 4 = 120

 Factorial of 1 = 120
 145 is not

# sets

In [ ]:
a={1,2,3,4,5,5,5,5,5}## duplicates are not allowed in sets
print(a)

{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
print(type(a),len(a))

<class 'set'> 5

In [ ]:
a={1,2,3,4,5,5,5,5,5}
for x in a:
    print(x)

1
2
3
4
5

In [ ]:
a={1,2,3,4,5,5,5,5,5}
a.add(99) ### used for addition of elements
print(a)

{1, 2, 3, 4, 5, 99}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={"a","b","c","d"}
c=["koushik"]
a.update(b)### update is used to join the lists
a.update(c)
print(a)

{1, 2, 3, 4, 5, 'c', 'b', 'a', 'd', 'koushik'}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
a.remove(5)### remove will raise error if its not present
a.discard(8)### discard will not raise a error if its not present
b=a.pop() ### this removes the element and that is stored in the b
print(b)
print(a)
a.clear()### this clears the set
print(a)
del a### this deleted the set

1
{2, 3, 4}
set()

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={"a","b","c","d",1}
a.union(b)### combines all the elements
print(a)
a.intersection(b) ### only shows the common element
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b=a.copy()### this copys the elments of the set
print(b)

{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={1,3,6,8}
print(a.isdisjoint(b))
print(b.issubset(a))
print(a.issuperset(b))

False
False
False

In [ ]:
a={1,2,3,4,5,5,5,5,5}
b={1,7,9,33}
print(a.symmetric_difference(b))

{33, 2, 3, 4, 5, 7, 9}

# DICTONARY

In [ ]:
a={
    "name":"koushik",  ### format for building the sets
    "age":18,
    "college":"gitam"
}
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam'}

In [ ]:
a={
    "name":"koushik",  ### format for building the dicitonary
    "age":18,
    "college":"gitam"
}
print(a["name"])
print(a["age"])
print(len(a))### shows the len of the dict
print(type(a))

koushik
18
3

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
b=a["name"]
c=a.get("age")
print(b,c)

koushik 18

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.keys())### this is the keys function used to displa all thge key words
a["friend"]=" sike kiran" ### this is a way of addition kes in dict
print(a.)

dict_keys(['name', 'age', 'college'])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.values())
a["place"]="vskp"
print(a.values(),a.keys())

dict_values(['koushik', 18, 'gitam'])
dict_values(['koushik', 18, 'gitam', 'vskp']) dict_keys(['name', 'age', 'college', 'place'])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.items())

dict_items([('name', 'koushik'), ('age', 18), ('college', 'gitam')])

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
if "age" in a:
    print("yes")

yes

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.update({"place":"vskp"}) ### it is used to update the list
print(a)
a.update({"age":19}) ### it is also used to update the list
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam', 'place': 'vskp'}
{'name': 'koushik', 'age': 19, 'college': 'gitam', 'place': 'vskp'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.pop("age") ### this is used to remove the elements from the dict
print(a)

{'name': 'koushik', 'college': 'gitam'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x in a:
    print(x)

name
age
college

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
a.update({"marks":"100"})
print(a)

{'name': 'koushik', 'age': 18, 'college': 'gitam', 'marks': '100'}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
print(a.items())
for x in a.items():
    print(x)

dict_items([('name', 'koushik'), ('age', 18), ('college', 'gitam')])
('name', 'koushik')
('age', 18)
('college', 'gitam')

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x,y in a.items():
    print(x,y)

name koushik
age 18
college gitam

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
for x in a.keys():
    print(x)

name
age
college

In [ ]:
collge={
    "s1":{
        "name":"koushik",
        "age":"18",
        "collge":"gitam"
    },
    "s2":{
         "name":"ftghdgde",
        "age":"18",
        "collge":"gitam"
    },
    "s3":{
         "name":"dffffff",
        "age":"18",
        "collge":"gitam"
    },
    
}
print(collge)

{'s1': {'name': 'koushik', 'age': '18', 'collge': 'gitam'}, 's2': {'name': 'ftghdgde', 'age': '18', 'collge': 'gitam'}, 's3': {'name': 'dffffff', 'age': '18', 'collge': 'gitam'}}

In [ ]:
s1={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
},
s2={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
},
s3={
     "name":"koushik",
        "age":"18",
        "collge":"gitam"
}
college={
    "s1":s1,
    "s2":s2,
    "s3":s3
}
print(college)

{'s1': ({'name': 'koushik', 'age': '18', 'collge': 'gitam'},), 's2': ({'name': 'koushik', 'age': '18', 'collge': 'gitam'},), 's3': {'name': 'koushik', 'age': '18', 'collge': 'gitam'}}

In [ ]:
a={
    "name":"koushik", 
    "age":18,
    "college":"gitam"
}
b=a.copy()
print(b)

{'name': 'koushik', 'age': 18, 'college': 'gitam'}

In [ ]:
college={
    "s1":{
        "name":"koushik",
        "age":"18",
"college":"gitam"    
    },
    "s2":{
        "name":"sgsdgsdfsf",
        "age":"17",
        "college":"afsfsf"
    }
}
print(college)

{'s1': {'name': 'koushik', 'age': '18', 'college': 'gitam'}, 's2': {'name': 'sgsdgsdfsf', 'age': '17', 'college': 'afsfsf'}}

# MODULE 2

In [ ]:
a=[1,2,3,4,5,6]

In [ ]:
import random
a=input("enter the command roll")
if "roll"==a:
    a=random.randint(1,6)
    print(a)

enter the command rollroll
5

# FUNCTIONS

In [ ]:
def koushik():
    print("koushik")
koushik()

koushik

In [ ]:
def name(name,age,roll):
    print(name,age,roll)
name("koushik",8,36)
name("kiran",19,31)

koushik 8 36
kiran 19 31

In [ ]:
def student(*info):
    print("info of the students",info[1])
student("koushik",19,4,2021) ### only strings are sccepted but not the strings

info of the students 19

In [ ]:
def student(name,age,year):
    print(year)
student(year=2021,name="koushik",age=18)

2021

In [ ]:
def student(**info):
    print("student",info["age"])
student(name="koushik",age=18,year=2021)

student 18

In [ ]:
def student(**info =="enter data"):
    print(info["name"],info["age"])
student(name="koushik",age=18)
student(name="kiran",age=19)

SyntaxError: invalid syntax (Temp/ipykernel_2328/965067153.py, line 1)

In [ ]:
def student(name="enter the name"):
      print(name)
student()
student("koushik")
student("kiran")

enter the name
koushik
kiran

In [ ]:
def students(name):
    for x in name:
        print(x)
names=["koushik","kiran"]
students(names)

koushik
kiran

In [ ]:
def sum(a,b):
   return a+b
print(sum(3,6))
print(sum(5,6))

9
11

In [ ]:
def number(n,r):
    while i<=r
        return (n-i*(n-(i+1))*(n-O())